*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
}
nav{
    gap: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 1rem;
}
a{
    font-size: 30px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
}
a:hover{
    background-color: rebeccapurple;
}
a
h1{
    font-size: 35px;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background-color: lightcoral;
    align-items: center;
}
h3{
    text-align: center;
    font-size: 30px;
}
.img-index{
    height: 305px;
    width: 50%;
    margin: .5rem;
    border-radius: 30px;
}
.container{
    display: flex;
    height: 350px;
}
.text-container{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    text-align: center;
    padding: 3rem;
    line-height: 35px;
}
.img-container{
    width: 50%;
    height: 100%;
    object-fit: contain;
    padding-right: .5rem;
}
#p-about{
    text-align: center;
}
#about-container{
    display: flex;
    flex-direction: column;
}
#about-img{
    height: 229px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: .5rem;
}
#about-img p{
    font-size: 24px;
}
#about-img img{
    width: 280px;
    height: 215px;
    border-radius: 100px;
}

#main-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    justify-content: space-evenly;
}
.img-inf{
    height: 25rem;
    width: 70rem;
}
.contact{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
#main-table{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
}

#section-information{
    font-size: 30px;
}
table{
    height: 500px;
    width: 69%;
    border-collapse: collapse;
    text-align: center;
}
tr,th,td{
    border: 1px solid black;
}
thead{
    font-size: 25px;
}

#benefits{
    display: flex;
    gap: 4rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#benefits, #tips{
    font-size: 30px;
}
ol{
    width: 23rem;
}
#benefits img{
    height: 300px;
    border-radius: 30px 0px 30px ;
}
#tips img{
    height: 300px;
    border-radius: 30px 0px 30px ;
} 
footer{
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkmagenta;
}
#main-raffle{
    display: flex;
    min-height: 80vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#title-raffle{
    width: 100%;
    text-align: center;
}
#main-raffle form{
    display: flex;
    flex-direction: column;
    background-color: lightgoldenrodyellow;
    gap: 1rem;
}
form>fieldset{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50rem;
    padding: 1rem;
}
#personal-information input{
    height: 30px;
    width: 90%;
    margin-left: .5rem;
}
#footer-raffle{
    min-height: 5vh;
}
#location{
    display: flex;
    flex-direction: row;
}
#payment{
    display: flex;
    flex-direction: row;
}
#payment>label {
    width: 40%;
}
#payment input{
    width: 20%;
}